<h1>Spiderman</h1>
<dl>
    <td>Nombre:</td>
    <dd>{{nombre}}</dd>

    <td>Edad:</td>
    <dd>{{edad}}</dd>


    <td>Metodo:</td>
    <dd>{{getHeroDescription()}}</dd>

    <td>Capitalizado:</td>
    <dd>{{capitalizedName}}</dd>
</dl>

<button *ngIf="edad !=50" (click)="changeEdad()" class="btn btn-primary mx-2">Cambiar edad
</button>

<button *ngIf="nombre !=='Alejandro'" (click)="changeHero()" class="btn btn-primary mx-2">Cambiar nombre
</button>

<button  (click)="reset()" class="btn btn-primary ">Reset
</button>